@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	float: right;
	width: 20%;
	padding-right: 15%;
}

footer {
	clear: both;
}

header {
	clear: both;
}

img {
	max-width: 50%;
}

main {
	float: left;
	width: 50%;
	padding-bottom: 15px;
}

nav {
	float: left;
	border: 15px solid white;
}

#copyright {
	font-size: 80%;
}

#main-container {

}